:root {
    --primary: #4ECDA4;
    --secondary-dark: #3C3D48;
    --section-dark-bg: #22252F;
    --section-light-bg: #f8fffa;
    --text: #212121;
    --text-secondary: #A5A8AA;
    --light: #FFFFFF;
}

.gray {
    color: var(--text-secondary) !important;
}
.section-light {
    background-color: var(--section-light-bg);
    color: var(--text);
}
.section-dark {
    background-color: var(--section-dark-bg);
    color: var(--light);
}
.section-primary {
    background-color: var(--primary);
    color: var(--light);
}
.section-title {
    font-weight: 400;
    font-size: 28px;
    text-transform: none !important;
    color: inherit !important;
    text-align: center;
    margin-top: 0;
}
.section-icon {
    text-align: center;
}
.section-icon img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.section-text {
    font-weight: 500;
    font-size: 20px;
    text-transform: none !important;
    color: inherit !important;
    text-align: center;
    margin: 30px auto;
}

.section-title span, .section-text span {
    color: var(--primary);
    font-weight: 500;
}
.section-primary .section-title span, .section-text span {
    color: var(--text) !important;
}

.section-container {
    height: auto !important;
    padding: 100px 20px 140px;
    margin: 0;
}

.main-container {
    margin: 0px auto !important;
}
.nav-container {
    margin: 0px auto !important;
}

.nav-logo-container {
    display: flex;
}

.navbar-brand img {
    width: 80px;
    height: auto;
}

.home-navbar {
    margin-top: 0px;
}

button#nav-signup-button {
    background-color: var(--primary) !important;
}

button#nav-logout-button,
button#nav-login-button {
    background-color: var(--text) !important;
}

/* HERO */

.hero {
    margin: 0 auto;
    padding: 120px 30px 160px;
}

.hero-text {
    color: var(--text);
}

.hero-text h1 {
    max-width: 550px;
}

.hero-text h1 span {
    color: var(--primary);
}

.hero-text p {
    max-width: 550px;
    font-size: 18px;
}

.hero-text button {
    background: transparent !important;
    padding: 0;
    font-size: 18px;
    color: var(--text);
    font-weight: 500;
}

.hero-text button span {
    font-weight: 700;
    color: var(--primary);
    font-size: 22px;
}

.hero-img {
    position: relative;
    max-width: 40%;
}

.hero-img::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(50%) translateY(50%);
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    z-index: -1;
    box-shadow:
        0 0 60px 30px var(--primary),
        /* inner white */
        0 0 160px 60px var(--primary),
        /* middle magenta */
        0 0 140px 90px var(--section-dark-bg);
    /* outer cyan */
}

.hero-img img {
    z-index: 10;
    max-width: 100%;
    height: auto;
}

/* SEARCH */

.search {
    width: 100% !important;
    max-width: 950px;
    margin: 30px auto 10px;
    border: 1px solid var(--light);
    border-radius: 10px;
    height: auto !important;
    overflow: hidden;
    background-color: var(--light);
}

.search input {
    border: none;
    background-color: transparent;
    color: var(--text);
    padding: 10px;
    text-align: left !important;
}

.search-companies a {
    margin: 0 8px;
    color: var(--text-secondary);
    text-decoration: none;
}
.search-companies a:hover {
    color: var(--primary);
}

.search button {
    padding: 10px 20px;
    background-color: var(--light);
    color: var(--primary);
    font-size: 24px;
    line-height: 0;
    transition: all 0.3s ease-in-out;
}
.search button:hover i{
    scale: 1.2;
}
.search button:hover {
    background-color: var(--light);
    color: var(--primary) !important;
}

/* USP */
.usp {
    color: var(--text);
    font-size: 18px;
    height: 100%;
    align-items: baseline;
}

.usp p span {
    color: var(--primary);
    font-weight: 500;
}

.usp button {
    background: transparent !important;
    padding: 0;
    font-size: 18px;
}

.usp button span {
    font-weight: 500;
    color: var(--primary);
    font-size: 22px;
}

/* USP */
.usp {
    padding: 60px 20px 10px;
}
.usp-img {
    max-width: 100%;
}
.usp-img img {
    width: 100%;
    height: auto;
}
.usp-blocks {
    padding: 40px;
}
.usp-block {
    margin-bottom: 30px;
}
.usp-block-icon img{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

/* CALCULATOR */
.investment-calculator {
    margin: 40px 30px;
}

.range-slider {}

.range-slider {
    width: 90%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #596165;
    outline: none;
    padding: 0;
    margin: 30px 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    background: var(--primary);
    padding: 2px 8px;
    margin-left: 8px;
    top: 2px;
}

.range-slider__value:after {
    position: absolute;
    top: 5px;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid var(--primary);
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/*  */
.stat-images {
    max-width: 470px;
    width: 100%;
    margin: 40px auto;
}
.stat-image {
    border-radius: 10px;
    margin-bottom: 25px;
}
.stat-image:last-child {
    margin-bottom: 0;
}
.stat-image img {
    max-width: 100%;
    /* scale: 0.9; */
    border-radius: 10px;
}
.stat-container {
    padding: 80px 0 100px;
}
.stat-col-left, .stat-col-right {
    position: relative;
}
.stat-col-left {
    top: 55px;
}
.stat-col-right {
    top: 0px;
}

/* CHARTS */
.chart-container {
    padding: 80px 0 100px;
}
.chart-box {
    background-color: #15191F;
    width: max-content;
    padding: 20px 50px 20px 20px;
    border-radius: 10px;
    margin: 20px auto;
}
.chart-icon {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.chart-texts {
    padding: 60px 30px;
}
.chart-texts h3 {
    font-weight: 400;
    font-size: 28px;
    text-transform: none !important;
    color: inherit !important;
    margin-bottom: 20px;
}
.chart-texts h3 span {
    color: var(--primary);
    font-weight: 600;
}
.chart-texts p {
    font-size: 18px;
    max-width: 450px;
}

.chart-texts ul {
    
}

.chart-texts ul li {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.chart-texts ul li::marker {
    color: var(--primary);
}

/* BLOG */
.blog-container {
    padding: 80px 0 100px;
}
.blogs {
    padding-top: 30px;
}
.blog {
    display: block;
    text-decoration: none !important;
    width: 90%;
    margin: 0 auto;
}
.blog:hover p {
    text-decoration: underline !important;
    color: var(--primary);
}
.blog img {
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.blog p {
    font-size: 16px;
    color: var(--text);
    text-decoration: none !important;
    margin-top: 10px;
}
.blog p span {
    color: var(--primary);
}


/* FOOTER */
.footer {
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}
footer a {
    color: var(--light) !important;
}
footer a:hover {
    color: var(--primary) !important;
}

.footer-link ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-link ul li {
    margin-top: 10px;
}

.footer-link ul li a {
    text-decoration: none;
}

.copyright {
    padding-top: 80px;
}