@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* VARIABLES */
:root {
    --primary: #4ECDA4;
    --primary-hover: #3bc096;
    --secondary: #1D52CD;
    --secondary-dark: #3C3D48;
    --section-dark-bg: #00150F;
    --section-light-bg: #182C27;
    --text: #FFFFFF;
    --text-secondary: #989CA3;
    --light: #FFFFFF;
    --text-dark: #0C263A;
    --border-radius: 8px;
    --mave-bg: #2A3037;
}

/* GENERAL */
body {
    font-family: "Open Sans", sans-serif !important;
}
html::-webkit-scrollbar {
    width: 8px;   
}
@media only screen and (max-width: 768px) {
    html::-webkit-scrollbar {
        width: 3px !important;    
    }
}
html::-webkit-scrollbar-track {
    background: #00150F;
}
html::-webkit-scrollbar-thumb {
    background: #228B6B;
    border-radius: 8px;
}
html::-webkit-scrollbar-thumb:hover {
    background: #228B6B;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        width: 1500px;
        max-width: 90% !important;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .visible-in-web {
        display: none !important;
    }
}
@media only screen and (min-width: 769px) {
    .visible-in-mobile {
        display: none !important;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}


/* HELPERS */
.title {
    font-family: "Anek Telugu", sans-serif !important;
}
.gray {
    color: var(--text-secondary) !important;
}
.btn {
    font-weight: 500;
}
.btn-theme {
    background-color: var(--primary) !important;
    color: var(--text-dark);
    padding: 8px 32px !important;
}
.btn-big {
    padding: 20px 40px !important
}
.btn-theme:hover {
    background-color: var(--primary-hover) !important;
    color: var(--text-dark) !important;
}
.hover-pop {
    transition: all 0.15s ease-in-out;
}
.hover-pop:hover {
    transform: scale(1.05);
}
.shadow {
    box-shadow: 0 12px 30px var(--section-dark-bg);
}
.section-light {
    background-color: var(--section-light-bg);
    color: var(--text);
}
.section-dark {
    background-color: var(--section-dark-bg);
    color: var(--text);
}
.section-primary {
    background-color: var(--primary);
    color: var(--text);
}
.section-title {
    font-weight: 500;
    font-size: 48px;
    text-transform: none !important;
    color: inherit !important;
    margin-top: 0;
    text-align: left;
}

@media only screen and (max-width: 768px) { 
    .section-title {
        font-size: 32px;
        text-align: center !important;
    }
}

.section-icon {
    text-align: center;
}

.section-icon img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    text-transform: none !important;
    color: inherit !important;
    margin: 0 0 48px;
    color: var(--text-secondary) !important;
    max-width: 498px;
}

@media only screen and (max-width: 768px) { 
    .section-text {
        text-align: center !important;
    }
}

.section-text-center {
    margin: 0 auto 48px;
}

.section-title span,
.section-text span {
    color: var(--primary);
    font-weight: 500;
}

.section-primary .section-title span,
.section-text span {
    color: var(--text) !important;
}

.main-container {
    margin: 0px auto !important;
}

/* NAVIGATION */
.nav-container {
    margin: 0px auto !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-toggle {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: var(--text);
    font-size: 32px;
}

.nav-logo-container {
    display: flex;
}

.navbar-brand img {
    width: 80px;
    height: auto;
}

.home-navbar {
    margin-top: 0px;
}

.nav-link,
.nav-item {
    margin: 0 5px;
}

.nav-link:hover,
.nav-item:hover {
    color: var(--primary) !important;
}

.nav-link {
    color: var(--text) !important;
    font-size: 16px;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.nav-item .dropdown-menu {
    background: var(--section-dark-bg) !important;
    padding: 0 !important;
    border: 1px solid #053223;
    border-radius: var(--border-radius);
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .nav-item .dropdown-menu {
        border: none;
    }
    .nav-link.dropdown-toggle {
        margin: 0;
    }
}

.nav-item .dropdown-menu a {
    color: var(--text) !important;
    min-width: 250px;
    margin: 0;
    border-bottom: 1px solid #053223;
}
@media only screen and (max-width: 768px) {
    .nav-item .dropdown-menu a {
        border-bottom: none;
    }
}

.nav-item .dropdown-menu a:last-child {
    border-bottom: 0;
}

.nav-item .dropdown-menu a:hover {
    background-color: var(--primary-hover) !important;
    color: var(--text) !important;
}

.nav-link.dropdown-toggle i {
    position: relative;
    top: 4px;
}

button#nav-logout-button,
button#nav-login-button {
    background-color: var(--primary) !important;
    padding: 8px 32px !important;
}

button#nav-logout-button:hover,
button#nav-login-button:hover {
    background-color: var(--primary-hover) !important;
    color: var(--text-dark) !important;
}

/* HERO */
.hero {
    margin: 0 auto;
    min-height: 669px;
    height: auto;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.hero-col {
    height: 100%;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .hero-col {
        height: auto;
        padding: 40px 10px;
        text-align: center;
    }
}

.hero-text {
    color: var(--text);
}

.hero-text img {
    width: 104px;
    height: auto;
    margin-bottom: 24px;
}

.hero-text h1 {
    max-width: 550px;
}

.hero-text h1 span {
    color: var(--primary);
    display: block;
}

.hero-text p {
    max-width: 550px;
}

.hero-img {
    min-height: 669px;
    background-image: url('./images/hero-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    align-items: center;
    display: flex;
}

.hero-text button {
    padding: 20px 40px !important;
}

.hero-text button span {
    font-weight: 700;
    color: var(--primary);
    font-size: 22px;
}

.hero-img {
    position: relative;
}

.hero-img img {
    z-index: 10;
    max-width: 100%;
    height: auto;
}

.hero-img-blur {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    scale: 1.1;
    z-index: 5;
}

.hero-usp-box {
    padding: 24px;
    border-radius: var(--border-radius);
    margin: 10px auto;
    width: 100%;
    background-color: var(--section-dark-bg);
    background-image: linear-gradient(150deg, rgba(237, 242, 248, 0) 0%, #1B2E2A 100%);

}

.hero-usp-box h4 {
    font-size: 28px;
    margin-bottom: 5px;
}

.hero-usp-box p {
    font-size: 16px;
    margin-bottom: 0;
}

/* COMPANIES */
.companies-section {
    position: relative;
    overflow-x: clip;
}

.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logo-slider:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
}

.logos-slide a {
    width: 183px;
    height: auto;
    margin: 0 20px;
    color: transparent !important;
    text-decoration: none !important;
    display: inline-block;
}
.logos-slide a img {
    width: 90%;
}

@media only screen and (max-width: 992px) {
    .logos-slide a {
        width: 94px;
        height: auto;
        margin: 0 10px;
    }
    /* .logos-slide a img {
        width: 90%;
    } */
}
@media only screen and (max-width: 768px) {
    
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.top-companies-container {
    position: relative;
    background-color: #002A1E;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    overflow-x: hidden;
    border-top: 5px solid #00150F;
    border-bottom: 5px solid #00150F;
}
@media only screen and (max-width: 768px) {
    .top-companies-container {
        padding: 40px 0;
    }
}

.companies-section:before {
    content: '';
    display: block;
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0px;
    left: -20px;
    bottom: 0;
    right: 0px;
    z-index: 0;
    background-color: #003E2C;
    transform: rotate(358deg);
}

/* FEATURES */
.features-section {
    padding: 160px 20px 120px;
    background-image: url(./images/features-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
    .features-section {
        padding: 80px 0 60px;
        background-size: contain;
        background-position: top;
    }
}

.feature-slider .slick-list {
    padding: 0 10% 0 0 !important;
}
.feature-slider .slick-slide {
    padding: 0 10px;
}

.feature-box {
    background-color: var(--section-dark-bg);
    border-radius: var(--border-radius);
    padding: 16px;
}

@media only screen and (max-width: 768px) {
    .feature-box {
        margin-bottom: 40px;
    } 
}

.feature-box .feature-img {
    background-image: url('./images/feature-card-image-bg.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 160px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 24px;
}

.feature-box .feature-img img {
    width: 80px;
    height: auto;
}

.feature-box h4 {
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.feature-box p {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
}

/* OVERVIEW */
.overview-section {
    padding: 100px 20px 80px;
    background-image: url('./images/overview-bg.png'), linear-gradient(to top, #041913 0%, #041913 1%, #0D211C 100%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    .overview-section {
        padding: 100px 0px 80px;
        background-position: left;
        background-size: cover;
    }
}
.overview-tabs {
    border-bottom: 0 !important;
}

.overview-tabs .nav-item {
    margin: 8px;
}

.overview-tabs .nav-item {
    border: 1px solid #1B2D29;
    border-radius: var(--border-radius);
}

.overview-tabs .nav-item .nav-link {
    width: 100%;
    border-radius: var(--border-radius);
    background-color: transparent ;
    color: var(--text);
    border: 1px solid #1B2D29;
    font-size: 18px;
    font-weight: bold;
    border: 0 !important;
    margin: 0;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-tabs .nav-link.active {
    border: 0 !important;
}

.overview-tabs .nav-link.active {
    background-color: #117D58 !important;
    box-shadow: 0 12px 30px var(--section-dark-bg);
}

.overview-tabs .nav-link:hover {
    background-color: #1B2D29 ;
    color: var(--text) !important;
    border: 0 !important;
}

.overview-tab-pane {
    width: 100%;
    display: flex;
    justify-content: center;
}

.overview-tab-pane img {
    width: calc(100% - 20px);
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-shadow: 0 12px 30px var(--section-dark-bg);
}

.overview-screenshot-container {
    position: relative;
}

.overview-screenshot-arrow {
    margin-bottom: 100px;
    position: absolute;
    top: 20px;
    left: 10px;
    transform: translateY(-100%);
}

.overview-screenshot-arrow img {
    height: auto;
    width: 104px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.overview-card {
    background-color: #1b2d29;
    border: 0 !important;
    padding: 16px 20px;
    border-radius: var(--border-radius);
}
.overview-card h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Anek Telugu", sans-serif !important;
}
.overview-card img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}
.overview-slides {
    padding: 0;
}
.overview-slides .slick-list{
    padding:0 10% 0 0 !important;
}
.overview-slides .slick-slide {
    padding: 10px;
}



/* INDEX */
.index-section {
    padding: 100px 20px 80px;
}

@media only screen and (max-width: 768px) {
    .index-section {
        padding: 120px 20px 80px;
    }
    .index-preview-content {
        text-align: center;
    }
    .index-preview-text {
        padding: 16px 24px;
    }
}

.index-preview {
    width: 80%;
    margin: 40px auto;
    position: relative;
    height: 337px;
    background-color: var(--mave-bg);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) { 
    .index-preview {
        margin-bottom: 120px;
    }
    .index-preview-top h4,
    .index-preview-bottom h4 {
        font-size: 24px !important;
    }
    .index-preview-top p,
    .index-preview-bottom p {
        font-size: 16px !important;
    }
}

.index-preview img {
    height: 100%;
    width: auto;
}

.index-preview-blur {
    position: absolute;
    z-index: -1;
    scale: 1.5;
}

.index-preview-top,
.index-preview-bottom {
    position: absolute;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.index-preview-text {
    padding: 24px 32px;
    position: relative;
    z-index: 1;
}

.index-preview-top::after,
.index-preview-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3F514B;
    /* filter: blur(5px); */
    opacity: 0.6;
}

.index-preview-top h4,
.index-preview-bottom h4 {
    font-size: 32px;
    font-weight: 800;
    color: var(--primary);
    margin-bottom: 5px;
}

.index-preview-top p,
.index-preview-bottom p {
    font-size: 20px;
    color: var(--text);
    margin-bottom: 0;
}

.index-preview-top {
    left: 10px;
    top: -60px;
}

.index-preview-bottom {
    right: 10px;
    bottom: -60px;
}


/* SEARCH */
.search-section {
    padding: 120px 20px 100px;
    background-image: url('./images/seach-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.search-wrapper {
    height: auto !important;
    margin: 0 auto;
    max-width: 650px;
}
.search-wrapper-box {
    width: 100%;
    max-width: 950px !important;
    padding: 60px 20px;
    background: var(--section-dark-bg);
    text-align: center;
    border-radius: 24px;
    position: relative;
    /* color: var(--text-dark); */
}
.search-wrapper-arrow {
    position: absolute;
    width: 120px;
    transform: rotate(-10deg);
    right: -30px;
    top: -10px;
}
.search-wrapper-box .section-title span {
    /* color: var(--secondary); */
}
@media only screen and (max-width: 768px) {
    .search-section {
        padding: 100px 20px 80px;
    }
    .search-wrapper {
        max-width: 100%;
    }
}
.search-wrapper-box .search {
    max-width: 660px;
    margin: 24px auto 0;
}
.search {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    color: #262f3b;
    background-color: var(--light);
    border-radius: 12px;
    justify-content: center;
    height: 56px;
    align-items: center;
    margin-top: 32px;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

.search input {
    border: none;
    background-color: transparent;
    color: var(--text);
    padding: 10px;
    text-align: left !important;
}

.search-companies {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: center;
    margin-top: 32px;
    display: flex;
}
@media only screen and (max-width: 768px) {
    .search-companies {
        grid-column-gap: 11px;
        grid-row-gap: 11px;
        flex-direction: column;
        align-items: center;
    }
}

.search-companies a {
    margin: 0 8px;
    color: var(--text-secondary);
    text-decoration: none;
    cursor: pointer !important;
    font-size: 16px;
}

.search-companies a:hover {
    color: var(--primary);
}

.search button {
    padding: 10px 20px;
    background-color: var(--light);
    color: var(--primary);
    font-size: 32px;
    line-height: 0;
    transition: all 0.3s ease-in-out;
}

.search button:hover i {
    scale: 1.2;
}

.search button:hover {
    background-color: var(--light);
    color: var(--primary) !important;
}

/* USP */
.usp {
    color: var(--text);
    font-size: 18px;
    height: 100%;
    align-items: baseline;
}

.usp p span {
    color: var(--primary);
    font-weight: 500;
}

.usp button {
    background: transparent !important;
    padding: 0;
    font-size: 18px;
}

.usp button span {
    font-weight: 500;
    color: var(--primary);
    font-size: 22px;
}

/* USP */
.usp {
    padding: 60px 20px 10px;
}

.usp-img {
    max-width: 100%;
}

.usp-img img {
    width: 100%;
    height: auto;
}

.usp-blocks {
    padding: 40px;
}

.usp-block {
    margin-bottom: 30px;
}

.usp-block-icon img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

/* CALCULATOR */
.calculator-sector {
    padding: 80px 0 100px;
}

.calculator-text .calculator-arrow img {
    width: 104px !important;
    position: relative;
    left: 10px;
    margin-bottom: 40px;
    transform: rotateX(15deg);
}

.calculator-form {
    width: 90%;
    max-width: 360px;
    border-radius: 30px;
    margin: 0 auto;
    background-image: linear-gradient(120deg, #031A14 0%, #00150F 100%);
    position: relative;
    box-shadow: 0 12px 30px var(--section-dark-bg);
    padding: 30px 30px 160px 30px;
}

.calculator-form label span {
    color: var(--primary);
    font-weight: 700;
    font-size: 18px;
}

.result-container h4 {
    color: var(--primary);
    font-size: 32px;
}

.calculator-form-submit {
    background-image: linear-gradient(120deg, #223828 0%, #1D2E24 100%);
    position: absolute;
    padding: 40px 80px 40px;
    font-size: 24px;
    left: -40px;
    bottom: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.15s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .calculator-sector {
        padding: 80px 0 80px;
    }
    .calculator-form {
        padding: 30px;
        margin-bottom: 40px;
    }
    .calculator-form-submit {
        padding: 30px 60px;
        font-size: 24px;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .calculator-text {
        text-align: center;
    }
}

.calculator-form-submit:active,
.calculator-form-submit:focus {
    outline: none;
    box-shadow: none;
}

.calculator-form-submit:hover {
    scale: 1.05;
}

.range-slider {
    width: 100%;
    margin: 0 auto;

}

.range-slider__range {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - (100px));
    height: 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--text-secondary);
    outline: none;
    padding: 0;
    margin: 10px 0 30px;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid var(--light);
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range:active::-webkit-slider-thumb,
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
    scale: 1.2;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

#investment {
    width: 80px !important;
    text-align: center !important;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    font-size: 24px;
    color: var(--text);
    line-height: 20px;
    text-align: center !important;
    margin-left: 8px;
    top: 4px;
    background: transparent;
    border: none;
    -moz-appearance: textfield;
    appearance: textfield;

}

.range-slider__value::-webkit-outer-spin-button,
.range-slider__value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-slider__value:focus {
    border: none;
    outline: none;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/*  */
.stat-images {
    max-width: 470px;
    width: 100%;
    margin: 40px auto;
}

.stat-image {
    border-radius: 10px;
    margin-bottom: 25px;
}

.stat-image:last-child {
    margin-bottom: 0;
}

.stat-image img {
    max-width: 100%;
    /* scale: 0.9; */
    border-radius: 10px;
}

.stat-container {
    padding: 80px 0 100px;
}

.stat-col-left,
.stat-col-right {
    position: relative;
}

.stat-col-left {
    top: 55px;
}

.stat-col-right {
    top: 0px;
}

/* CHARTS */
.chart-container {
    padding: 80px 0 100px;
}

.chart-box {
    background-color: #15191F;
    width: max-content;
    padding: 20px 50px 20px 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.chart-icon {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.chart-texts {
    padding: 60px 30px;
}

.chart-texts h3 {
    font-weight: 400;
    font-size: 28px;
    text-transform: none !important;
    color: inherit !important;
    margin-bottom: 20px;
}

.chart-texts h3 span {
    color: var(--primary);
    font-weight: 600;
}

.chart-texts p {
    font-size: 18px;
    max-width: 450px;
}

.chart-texts ul {}

.chart-texts ul li {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.chart-texts ul li::marker {
    color: var(--primary);
}

/* BLOG */
.blog-section {
    background-image: url('./images/articles-bg.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.blog-container {
    padding: 80px 0 100px;
}

.slick-track
{
    display: flex !important;
}
.slick-slide
{
    height: inherit !important;
}
.slick-slide > div, .slick-slide .col-md-4 {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .blog-section {
        background-size: cover;
    }
    .blog-container {
        padding: 60px 0 80px;
    }
}

.blogs {
    padding-top: 30px;
    max-width: 100dvw;
}

.blog {
    display: block;
    text-decoration: none !important;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 24px;
    background-color: #1B2D29;
    border-radius: var(--border-radius);
}

.blog-titles {
    padding: 40px 20px;
}

.blog-arrows {
    display: flex;
}

.blog-arrows button {
    background-color: var(--primary);
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--text-dark);
    font-size: 28px;
    margin: 0 8px;
}

@media only screen and (max-width: 768px) {
    .blog-arrows {
        margin: 60px auto 0;
        justify-content: center;
    }
}

.blog .badge {
    background-color: rgba(255, 255, 255, 0.04);
    color: var(--primary);
    font-size: 14px;
    margin: 16px 0;
    font-weight: 500;
}

.blog-arrows button:hover {
    background-color: var(--primary-hover);
    color: var(--text-dark) !important;
}

.blog:hover p {
    text-decoration: underline !important;
}

.blog h4 {
    font-size: 24px;
    color: var(--text) !important;
}

.blog img {
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 100%;
    height: auto;
}

.slick-current .blog {
    border: 1px solid var(--primary);
}


/* FOOTER */
.footer {
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url('./images/footer-bg.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
    .footer {
        background-size: cover;
        background-position: right;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .footer-widget {
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-links {
        margin-top: 30px;
    }
    .copyright {
        text-align: center;
        font-size: 14px;
    }
}

.footer-logo {
    position: relative;
}

.footer-logo-arrow {
    width: 81px !important;
    position: relative;
    left: 80px;
    top: -20px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

footer a {
    color: var(--light);
}

footer a:hover {
    color: var(--primary) !important;
}

.footer-link ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-link ul li {
    margin-top: 10px;
}

.footer-link ul li a {
    text-decoration: none;
    color: var(--text-secondary) !important;
}
.footer-link ul li a:hover {
    color: var(--primary) !important;
}

.footer-links-col-1 {
    margin-left: 25%;
}
@media only screen and (max-width: 992px) {
    .footer-links-col-1 {
        margin-left: 0;
    }   
}

.copyright {
    padding-top: 80px;
}

.footer-legal {
    font-size: 20px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto 80px;
}