/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --primary-color: #22262f;
  --secondary-color: #2c303b;
  --hover-color: #3b4150;
  --border-color: #4c5263;
  --border-radius: 10px;
  --hightlight-color: #57aefb;
  --minWidth: 1100px;
  --maxWidth: 1500px;
  --primary: #4ecca3;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}

.section-description {
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--border-color) !important;
}

.green {
  color: #00a449 !important;
}

.bg-green {
  background-color: #00a449 !important;
  color: #ffffff !important;
}

.red {
  color: #fb5058 !important;
}

.bg-red {
  background-color: #fb5058 !important;
  color: #ffffff !important;
}

.white {
  color: #fff !important;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.p-0 {
  padding: 0px !important;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: #22262f !important;
  margin: 0px !important;
}

/* .container {
  position: relative;
  width: 100%;
  min-width: var(--minWidth);
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
} */

#content {
  z-index: 0;
  padding: 0px 20px;
  box-sizing: border-box;
  margin-top: 130px;
  margin-bottom: 30px;
  color: #ffffff;
}

.hidden,
.hide {
  display: none !important;
}

/* Tabs */
.tabs {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  color: #fff;
  background-color: var(--secondary-color);
  border: 1px solid var(--hover-color);
  padding: 7px 10px;
  white-space: nowrap;
}

.tabs .selected-tab {
  border: 1px solid var(--hightlight-color);
}

.tab:hover {
  background-color: var(--hover-color);
}

/* Navbar */

#nav-toggle-button {
  filter: invert(100%);
  cursor: pointer;
  display: none;
  z-index: 5;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 100%;
  background-color: #1f1f1f;
}

nav .nav-content {
  box-sizing: border-box;
  padding: 10px 40px;
  background-color: #1f1f1f;
}

@keyframes scrollHorizontally {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.sticky-top {
  z-index: 2;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(-100%);
  }
}

.ms-2 {
  margin-left: 10px;
}

#nav-tickers-wrapper {
  display: flex;
  background-color: #262424;
  overflow: hidden;
}

#nav-tickers,
#nav-tickers-copy {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  white-space: nowrap;
  /* animation: scrollHorizontally 10s infinite linear; */
  -webkit-animation: move 24s infinite linear;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-ticker {
  box-sizing: border-box;
  padding: 10px 20px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
}

.nav-ticker span {
  margin-left: 10px;
  font-weight: 400;
}

nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--maxWidth);
  margin: auto;
}

nav .nav-content .nav-brand {
  height: 40px;
}

nav .nav-content .nav-links {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .nav-content .nav-links .nav-link {
  margin-left: 10px;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
}

nav .nav-content .nav-links .nav-link:hover {
  color: var(--primary);
}

nav .nav-content .nav-links .active {
  color: var(--primary);
  font-weight: 700;
}

.image {
  width: 100%;
}

/* Section */

.DocSearch-Hit-Container > div {
  display: flex;
}

.DocSearch-Hit-Container > div > div {
  margin-right: 5px;
  margin-left: 5px;
}

.DocSearch-Hit-Container button {
  border: none;
  color: var(--headerscolor);
  background-color: transparent;
}

#docsearch-list {
  list-style: none;
  padding: 0;
}

.DocSearch-Hit-Container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background: #747474;
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--headerscolor);
  align-items: center;
  transition: background 0.2s ease-in-out;
}

.DocSearch-Hit-Container:hover {
  background: var(--primary);
}

.no-underline {
  text-decoration: none;
}

.home-result-card {
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.home-result-card:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.home-result-card a {
  text-decoration: none !important;
  color: #333 !important;
}

.widget-container {
  border-radius: 5px;
  background-color: #222;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.white {
  color: var(--headerscolor);
}

.black {
  color: #000;
}

.btn {
  outline: none;
  border: none;
  padding: 6px 12px;
  color: #ffffff;
  cursor: pointer;
  background-color: #5dade2;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover {
  color: #ffffff !important;
  background-color: #2e86c1;
}

.btn-success {
  color: #ffffff;
  background-color: #58d68d;
}

.btn-success:hover {
  color: #ffffff !important;
  background-color: #28b463;
}

.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
}

.btn-danger:hover {
  color: #ffffff !important;
  background-color: #a93226;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook::before,
.fa-twitter::before,
.fa-linkedin::before {
  color: white;
}

.social-media-container a {
  padding: 10px;
  padding-right: 20px;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  color: var(--headerscolor) !important;
  position: relative;
  right: -12px;
  transition: right 0.2s ease-in-out;
}

.social-media-container a:hover {
  right: 0;
}

.social-media-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .nav-auth-button {
  }
  .social-media-container {
    display: none;
  }

  .navbar-search-input-holder {
    width: 100%;
  }

  #navbarSearch input {
    width: 100%;
  }

  [col-id="title"] {
    font-size: 10px;
  }
}

#liveToastBtn,
#liveToastBtn2 {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.w-100 {
  width: 100%;
}

.freeprivacypolicy-com---nb-simple {
  left: 0 !important;
  max-width: 100% !important;
}

.nav-auth-button.logout {
  display: none;
}

#main-container-div {
  display: flex;
  margin: 0px auto;
  max-width: max(90vw, 600px);
  gap: 0.2em;
  overflow-x: auto;
}

#treemap {
  height: 500px;
}
.mapbuttons {
  color: white;
  width: 15% !important;
}

@media (max-width: 768px) {
  .bg-map img {
    height: 348px !important;
    max-width: 176% !important;
  }

  #treemap-containermap1 {
    width: 27% !important;
    max-width: none !important;
    top: 154px !important;
    left: 379px !important;
  }
  #treemap-map1 {
    height: 141px !important;
  }
  #treemap-containermap3 {
    width: 18.5% !important;
    max-width: none !important;
    left: 2px !important;
    top: 264px !important;
  }
  /* #treemap-map3 {
        height: 100% !important;
    } */

  #treemap-containermap4 {
    width: 20.5% !important;
    max-width: none !important;
    left: 90px !important;
    top: 264px !important;
  }
  #treemap-map4 {
    height: 100% !important;
  }
  #treemap-containermap25 {
    width: 43% !important;
    max-width: none !important;
    top: 154px !important;
    left: 5px !important;
  }
  #treemap-map25 {
    height: 135px !important;
  }
  #treemap-containermap2 {
    width: 23% !important;
    max-width: none !important;
    top: 269px !important;
    left: 363px !important;
  }
  #treemap-map2 {
    height: 117px !important;
  }

  #treemap-containermap5 {
    width: 33% !important;
    max-width: none !important;
    top: 154px !important;
    left: 208px !important;
  }
  #treemap-map5 {
    height: 100px !important;
  }
  #treemap-containermap6 {
    width: 35% !important;
    max-width: none !important;
    top: 154px !important;
    left: 457px !important;
  }
  #treemap-map6 {
    height: 140px !important;
  }
  #treemap-containermap7 {
    width: 27% !important;
    max-width: none !important;
    top: 269px !important;
    left: 494px !important;
  }
  #treemap-map7 {
    height: 120px !important;
  }
  #treemap-containermap8 {
    width: 27% !important;
    max-width: none !important;
    top: 421px !important;
    left: 428px !important;
  }
  #treemap-map8 {
    height: 77px;
  }
  #treemap-containermap9 {
    width: 27% !important;
    max-width: none !important;
    top: 348px !important;
    left: 273px !important;
  }
  #treemap-containermap10 {
    width: 16% !important;
    max-width: none !important;
    top: 259px !important;
    left: 313px !important;
  }
  #treemap-map10 {
    height: 60px !important;
  }
  #treemap-containermap11 {
    width: 17% !important;
    max-width: none !important;
    top: 201px !important;
    left: 314px !important;
  }
  #treemap-map11 {
    height: 80px;
  }
  #treemap-containermap12 {
    width: 22% !important;
    max-width: none !important;
    top: 154px !important;
    left: 150px !important;
  }
  #treemap-map12 {
    height: 100px !important;
  }
  #treemap-map13 {
    height: 67px !important;
  }
  #treemap-containermap13 {
    width: 18% !important;
    max-width: none !important;
    top: 224px !important;
    left: 147px !important;
  }
  #treemap-containermap13 {
    margin-bottom: 0px;
  }

  #treemap-containermap15 {
    width: 26% !important;
    max-width: none !important;
    top: 228px !important;
    left: 237px !important;
  }
  #treemap-map15 {
    height: 100px !important;
  }
  #treemap-containermap16 {
    width: 16% !important;
    max-width: none !important;
    top: 337px !important;
    left: 163px !important;
  }
  #treemap-map16 {
    height: 100px !important;
  }
  #treemap-containermap17 {
    width: 21% !important;
    max-width: none !important;
    top: 262px !important;
    left: 144px !important;
  }
  #treemap-map17 {
    height: 100px !important;
  }
  #treemap-map18 {
    height: 68px !important;
  }
  #treemap-containermap18 {
    width: 24% !important;
    max-width: none !important;
    top: 297px !important;
    left: 197px !important;
  }
  #treemap-containermap19 {
    width: 25% !important;
    max-width: none !important;
    top: 310px !important;
    left: 263px !important;
  }
  #treemap-map19 {
    height: 58px !important;
  }
  #treemap-containermap20 {
    width: 25% !important;
    max-width: none !important;
    top: 341px !important;
    left: 197px !important;
  }
  #treemap-map20 {
    height: 60px;
  }
  #treemap-containermap21 {
    width: 19% !important;
    max-width: none !important;
    top: 226px !important;
    left: 193px !important;
  }
  #treemap-map21 {
    height: 100px !important;
  }

  #treemap-containermap23 {
    width: 18.5% !important;
    max-width: none !important;
    left: 3px !important;
    top: 318px !important;
  }

  #treemap-map25 {
    height: 218px;
  }
  #treemap-containermap26 {
    position: absolute !important;
    top: 550px;
    width: 125px;
  }
  #treemap-containermap27 {
    width: 29.5% !important;
    max-width: none !important;
    left: 3px !important;
    top: 400px !important;
  }
  #treemap-map27 {
    height: 65px;
  }
  #treemap-containermap28 {
    width: 20.5% !important;
    max-width: none !important;
    left: 98px !important;
    top: 381px !important;
  }
  #treemap-map28 {
    height: 88px;
  }

  #treemap-containermap29 {
    position: absolute !important;
    left: 71%;
    top: 272px;
    width: 148px;
  }
  #treemap-containermap30 {
    width: 24% !important;
    max-width: none !important;
    top: 269px !important;
    left: 426px !important;
  }
  #treemap-map30 {
    height: 117px !important;
  }
  #treemap-containermap31 {
    position: absolute !important;
    left: 71%;
    top: 272px;
    width: 148px;
  }
  #treemap-containermap32 {
    width: 27% !important;
    max-width: none !important;
    top: 359px !important;
    left: 451px !important;
  }
  #treemap-map32 {
    height: 75px !important;
  }
  #treemap-containermap33 {
    position: absolute !important;
    left: 71%;
    top: 272px;
    width: 148px;
  }
}

#treemap-containermap1 {
  position: absolute !important;
  top: 5%;
  width: 13%;
  right: 15%;
  height: 26%;
}

#treemap-map1 {
  height: 100%;
}

#mapbuttons {
  margin-left: 30px;
}

#treemap-containermap2 {
  position: absolute !important;
  right: 15%;
  top: 33%;
  width: 13%;
  height: 13%;
}

#treemap-map2 {
  height: 100%;
}

#treemap-containermap3 {
  position: absolute !important;
  top: 35%;
  left: 28%;
  width: 4%;
  height: 7%;
}

#treemap-map3 {
  height: 100% !important;
}

#treemap-containermap4 {
  position: absolute !important;
  top: 35%;
  left: 24%;
  width: 4%;
  height: 7%;
}

#treemap-map4 {
  height: 100% !important;
}

#treemap-containermap5 {
  position: absolute !important;
  top: 96px;
  left: 49.2%;
  width: 160px;
}

#treemap-containermap6 {
  position: absolute !important;
  top: 5%;
  right: 1%;
  width: 13%;
  height: 26%;
}

#treemap-map6 {
  height: 100%;
}
#treemap-containermap7 {
  position: absolute !important;
  top: 33%;
  right: 1%;
  width: 13%;
  height: 13%;
}

#treemap-map7 {
  height: 100%;
}

#treemap-containermap8 {
  position: absolute !important;
  bottom: 15%;
  right: 5%;
  width: 13%;
  height: 26%;
}

#treemap-map8 {
  height: 100%;
}

#treemap-containermap9 {
  position: absolute !important;
  top: 82%;
  left: 65%;
  width: 5%;
  height: 5%;
}

#treemap-map9 {
  height: 100%;
}

#treemap-containermap10 {
  position: absolute !important;
  top: 50%;
  right: 25%;
  width: 7%;
  height: 5%;
}

#treemap-map10 {
  height: 100%;
}

#treemap-containermap11 {
  position: absolute !important;
  top: 26%;
  right: 30%;
  width: 7%;
  height: 4%;
}

#treemap-map11 {
  height: 100%;
}

#treemap-containermap12 {
  position: absolute !important;
  top: 96px;
  left: 43%;
  width: 8%;
}

#treemap-map13 {
  height: 100px;
}

#treemap-containermap13 {
  position: absolute !important;
  top: 217px;
  left: 43%;
  width: 7%;
}

#treemap-containermap13 {
  margin-bottom: 0px;
}

#treemap-containermap14 {
  position: absolute !important;
  top: 426px;
  left: 24%;
  width: 206px;
}

#treemap-containermap25 {
  position: absolute !important;
  top: 5%;
  left: 20%;
  width: 14%;
  height: 7%;
}

#treemap-containermap16 {
  position: absolute !important;
  top: 216px;
  left: 55.5%;
  width: 87px;
}

#treemap-containermap17 {
  position: absolute !important;
  top: 287px;
  left: 43%;
  width: 93px;
}

#treemap-map18 {
  height: 100px;
}

#treemap-containermap18 {
  position: absolute !important;
  top: 336px;
  left: 43%;
  width: 109px;
}

#treemap-containermap19 {
  position: absolute !important;
  top: 338px;
  left: 53.5%;
  width: 108px;
}

#treemap-map19 {
  height: 96px;
}

#treemap-containermap20 {
  position: absolute !important;
  top: 450px;
  left: 50%;
  width: 127px;
}

#treemap-map20 {
  height: 60px;
}

#treemap-containermap21 {
  position: absolute !important;
  top: 218px;
  left: 48%;
  width: 76px;
}

#treemap-containermap22 {
  position: absolute !important;
  top: 35%;
  width: 4%;
  height: 7%;
  left: 20%;
}

#treemap-containermap23 {
  position: absolute !important;
  top: 45%;
  width: 4%;
  height: 7%;
  left: 20%;
}

#treemap-map23 {
  height: 100% !important;
}

#treemap-containermap24 {
  position: absolute !important;
  top: 59%;
  width: 4%;
  height: 7%;
  left: 20%;
}

#treemap-map24 {
  height: 100%;
}

#treemap-containermap25 {
  position: absolute !important;
  top: 5%;
  left: 20%;
  width: 13%;
  height: 26%;
}

#treemap-map25 {
  height: 100%;
}

#treemap-containermap26 {
  position: absolute !important;
  top: 52%;
  width: 4%;
  height: 7%;
  left: 20%;
}

#treemap-map26 {
  height: 100%;
}

#treemap-containermap27 {
  position: absolute !important;
  top: 66%;
  width: 4%;
  height: 7%;
  left: 20%;
}

#treemap-map27 {
  height: 100%;
}

#treemap-containermap28 {
  position: absolute !important;
  top: 550px;
  width: 125px;
  left: 25%;
}

#treemap-map28 {
  height: 88px;
}

#treemap-containermap29 {
  position: absolute !important;
  left: 71%;
  top: 272px;
  width: 148px;
}

#treemap-containermap30 {
  position: absolute !important;
  left: 79.5%;
  top: 272px;
  width: 96px;
}

#treemap-containermap31 {
  position: absolute !important;
  left: 71%;
  top: 272px;
  width: 148px;
}

#treemap-containermap32 {
  position: absolute !important;
  left: 86%;
  top: 398px;
  width: 112px;
}

#treemap-containermap33 {
  position: absolute !important;
  left: 71%;
  top: 272px;
  width: 148px;
}

#treemap-map22 {
  height: 100% !important;
}

#treemap-containermap14 {
  position: absolute !important;
  left: 24%;
  top: 45%;
  width: 9%;
  height: 28%;
}

#treemap-map14 {
  height: 100%;
}

#treemap-container {
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 376px) {
  #treemap-container {
    width: 50%;
  }
  .Tree-container {
    display: none;
  }
}

#treemap-main {
  height: 100%;
}

.treemap-link {
  text-decoration: none;
}

#treemap-switcher {
  margin-top: 1rem;
}

/* here is new css for the world map */
#treemap-map12 {
  height: 100%;
}
#treemap-containermap12 {
  position: absolute !important;
  left: 40.5%;
  top: 5%;
  width: 7%;
  height: 26%;
}

#treemap-containermap17 {
  position: absolute !important;
  left: 40.5%;
  top: 31%;
  width: 7%;
  height: 13%;
}
#treemap-map17 {
  height: 100% !important;
}
#treemap-containermap21 {
  position: absolute !important;
  left: 40.5%;
  top: 44%;
  width: 11.5%;
  height: 7%;
}
#treemap-map21 {
  height: 100% !important;
}
#treemap-map5 {
  height: 100% !important;
}
#treemap-containermap5 {
  position: absolute !important;
  left: 48%;
  top: 5%;
  width: 15%;
  height: 26%;
}
#treemap-map13 {
  height: 100% !important;
}
#treemap-containermap13 {
  position: absolute !important;
  left: 48%;
  top: 31%;
  width: 4%;
  height: 13%;
}
#treemap-containermap15 {
  position: absolute !important;
  left: 52.5%;
  top: 31%;
  width: 7%;
  height: 20%;
}
#treemap-map15 {
  height: 100% !important;
}
#treemap-containermap16 {
  position: absolute !important;
  left: 60%;
  top: 31%;
  width: 7%;
  height: 18%;
}
#treemap-map16 {
  height: 100% !important;
}
#treemap-containermap19 {
  position: absolute !important;
  left: 60%;
  top: 49%;
  width: 7%;
  height: 2%;
}
#treemap-map19 {
  height: 100% !important;
}
#treemap-containermap20 {
  position: absolute !important;
  left: 57%;
  top: 52%;
  width: 6%;
  height: 5%;
}
#treemap-map20 {
  height: 100% !important;
}
/* END is new css for the world map */

@media screen and (max-width: 750px) {
  #nav-toggle-button {
    /* filter: invert(100%); */
    display: block;
  }

  nav .nav-content .nav-links {
    display: none;
    top: 100px;
    width: 100%;
    left: 0px;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: self-start;
    position: absolute;
    position: fixed;
    background-color: #1f1f1f;
  }

  nav .nav-content .nav-links .nav-link {
    margin-left: 0px;
    margin-top: 10px;
    display: block;
  }

  #nav-login-button,
  #nav-logout-button {
    margin-left: 0px !important;
    margin-top: 10px;
  }

  nav #search-input-wrapper {
    margin-top: 10px;
    width: 100%;
  }

  nav #search-results {
    width: 100%;
  }
  nav .nav-buttons {
    flex-direction: column;
    align-items: self-start;
  }
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.input-sidebar {
  padding: 10px 10px;
  background-color: rgb(41, 47, 56);
  color: var(--primary) !important;
  border-radius: 5px;
  font-size: 13px;
}


.footer-container{
  color: white;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px 0 10px;
  background-color: #191e24;

}

.footer-container hr{
  color: #4c5261;
}


.footer-container img{
  max-width: 150px;
}

.footer-container-div{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer-container .footer-message{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.footer-container .footer-message .message{
  width: 80%;
  font-size: 18px;
}

.footer-container a{
  text-decoration: none;
  color: #3f9e81;
}

.footer-container .social-container{
  width: 160px;
}

.social-container .title{
  font-size: 30px;
}

.footer-container .social-icons a img{
  width: 40px;
  margin: 10px;
}

.footer-container-div p{
  margin-top: 1rem !important;
}



@media screen and (max-width: 768px) {
  .footer-container-div{
    display: flex;
    flex-direction: column;
  }

  .footer-container-div p{
    font-size: 10px;
    margin: 5px 0px !important;
  }


    
  .footer-container img{
    max-width: 100px;
  }



  .footer-container .social-container{
    width: 100%;
    margin-top: 10px;
  }

  .social-container .title{
    font-size: 20px;
  }

  .footer-container .social-icons{
    display: flex;
    align-items: center;
  }

  .footer-container .social-icons a img{
    width: 20px;
    margin: 10px;
  }

  .footer-container .footer-message .message{
    width: 100%;
    font-size: 10px;
  }
}


button#nav-signup-button, button#nav-logout-button, button#nav-login-button{
  background-color: #2e86c1 !important;
}


button.btn.dropdown-toggle.bs-placeholder.btn-light {
  background-color: #2e86c1;
  border: 0px;
}