.custom-table-wrapper {
  width: 100%;
  position: relative;
  overflow: auto;
  padding: 5px;
  display: block;
}

.block {
  display: block !important;
}

.no-break {
  white-space: nowrap;
}

.highlight {
  color: var(--hightlight-color) !important;
}

.custom-table-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-table-wrapper::-webkit-scrollbar {
  display: none;
}

.custom-table-small {}

.custom-table {
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  border: none;
  border-collapse: collapse;
}

@media screen and (max-width: 480px) {
  .custom-table{
    font-size: 7px !important;
  }
  
}

div#data_tables::-webkit-scrollbar {
  background: #fff;
  border-radius: 5px;
}

div#data_tables::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

/* Handle */
div#data_tables::-webkit-scrollbar-thumb {
  background: #888;
}

div#data_tables {
  overflow-x: auto;
}

.custom-table tbody {
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: var(--border-radius);
}

.custom-table tbody tr:first-child td:first-child {
  border-top-left-radius: var(--border-radius);
}

.custom-table tbody tr:first-child td:last-child {
  border-top-right-radius: var(--border-radius);
}

.custom-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.custom-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.custom-table tbody tr {
  background-color: var(--primary-color);
}

.custom-table thead td {
  padding: 7px 4px;
}

.custom-table tbody td {
  white-space: nowrap;
}

.custom-table tbody td a {
  text-decoration: none;
  color: var(--hightlight-color);
}

.custom-table td {
  padding: 3px 4px;
  color: #fff;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center{
  text-align: center;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: var(--secondary-color);
  color: #fff;
}

.custom-table tbody tr:hover,
.custom-table thead td:hover {
  background-color: var(--hover-color);
}

.green {
  color: #00a449 !important;
}

.bg-green {
  background-color: #00a449 !important;
  color: #ffffff !important;
}

.red {
  color: #fb5058 !important;
}

.bg-red {
  background-color: #fb5058 !important;
  color: #ffffff !important;
}

.white {
  color: #fff !important;
}